<div class="container">
  <mat-toolbar color="primary">
    <span>Task Manager</span>
    <span>Requests count: {{counter}}</span>
  </mat-toolbar>
  <div class="panel">
    <button mat-raised-button (click)="openDialog(false)" color="primary">New task</button>
    <mat-form-field appearance="outline" class="float-right">
      <mat-label>Search</mat-label>
      <input matInput search (keyup)="filter($event)" (focus)="setupFilter()">
    </mat-form-field>
  </div>
  <div class="table">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="desc-column">Description</th>
        <td mat-cell *matCellDef="let row" class="desc-column">{{row.description}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openDialog(true, row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td 
          class="mat-cell no-data-cell" 
          [attr.colspan]="displayedColumn.length" 
          *ngIf="tasks && tasks.length && !data.length; else noTasksCell">
          The filter does not match any task.
        </td>
        <ng-template #noTasksCell>
          <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumn.length">You have no tasks.</td>
        </ng-template>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>   
  </div>
</div>